.Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.SliderContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  overflow: hidden;
}

.SliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner_image_link_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
}

.error_img {
  object-fit: contain;
  width: 90%;
  height: 100%;
}

.banner_arrows_wrapper {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 50px;
}

.dots_indecator_wrapper {
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.dots_indecator {
  width: 6px;
  height: 6px;
  border: 1px solid;
  border-radius: 50%;
}
.active {
  background-color: var(--buttonPrimary);
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.LoaderMask {
  width: 100%;
  height: 800px;
  background: #cccccca3;
  position: relative;
  overflow: hidden;
}

.LoaderMask:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
  animation: loading 0.8s infinite;
}

.Slider {
  border-radius: 50px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.SliderSlide {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.isDisplay {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ArrowBtns {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--glassmorphismSeconderBG);
  box-shadow: transparent;
  backdrop-filter: blur;
  -webkit-backdrop-filter: blur;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}
.ArrowBtns:hover {
  background-color: var(--buttonPrimary);
}

.ArrowSpan {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* laptopL */
@media (min-width: 1240px) and (max-width: 1550px) {
  .SliderSlide {
    max-width: 1230px;
  }

  .SliderContainer {
    max-width: 1230px;
  }
  .banner_arrows_wrapper {
    max-width: 1230px;
    width: 100%;
  }
}
/* laptopM */
@media (min-width: 1024px) and (max-width: 1240px) {
  .SliderSlide {
    max-width: 99vw;
  }

  .SliderContainer {
    max-width: 99vw;
  }
  .banner_arrows_wrapper {
    width: 95%;
    max-width: unset;
  }
}
/* laptopS */
@media (min-width: 768px) and (max-width: 1024px) {
  .SliderSlide {
    max-width: 95vw;
  }

  .SliderContainer {
    max-width: 95vw;
  }
  .banner_arrows_wrapper {
    width: 95%;
    max-width: unset;
  }
}
/* tabletL */
@media (min-width: 440px) and (max-width: 768px) {
  .SliderSlide {
    max-width: 95vw;
  }

  .SliderContainer {
    max-width: 95vw;
  }

  .banner_image_link_wrapper {
    border-radius: 40px;
  }
  .Slider {
    border-radius: 40px;
  }
  .banner_arrows_wrapper {
    display: none;
  }
  .dots_indecator_wrapper {
    display: flex;
  }
}
/* tabletS */
@media (min-width: 350px) and (max-width: 440px) {
  .SliderSlide {
    max-width: 95vw;
  }

  .SliderContainer {
    max-width: 95vw;
  }

  .banner_image_link_wrapper {
    border-radius: 30px;
  }
  .Slider {
    border-radius: 30px;
  }
  .banner_arrows_wrapper {
    display: none;
  }
  .dots_indecator_wrapper {
    display: flex;
  }
}
/* mobileL */
@media (min-width: 285px) and (max-width: 350px) {
  .SliderSlide {
    max-width: 95vw;
  }

  .SliderContainer {
    max-width: 95vw;
  }
  .banner_image_link_wrapper {
    border-radius: 20px;
  }
  .Slider {
    border-radius: 20px;
  }
  .banner_arrows_wrapper {
    display: none;
  }
  .dots_indecator_wrapper {
    display: flex;
  }
}
/* mobileM */
@media (min-width: 200px) and (max-width: 285px) {
  .SliderSlide {
    max-width: 95vw;
  }

  .SliderContainer {
    max-width: 95vw;
  }

  .banner_image_link_wrapper {
    border-radius: 10px;
  }
  .Slider {
    border-radius: 10px;
  }
  .banner_arrows_wrapper {
    display: none;
  }
  .dots_indecator_wrapper {
    display: flex;
  }
  .LoaderMask {
    height: 80px;
  }
}
/* mobileS */
@media (min-width: 100px) and (max-width: 200px) {
  .SliderSlide {
    max-width: 95vw;
  }

  .SliderContainer {
    max-width: 95vw;
  }
  .banner_image_link_wrapper {
    border-radius: 5px;
  }

  .Slider {
    border-radius: 5px;
  }
  .banner_arrows_wrapper {
    display: none;
  }
  .dots_indecator_wrapper {
    display: flex;
  }
  .LoaderMask {
    height: 80px;
  }
}
